{% extends 'base.html' %}
{% block title %}Registro · Galsoft Helpdesk{% endblock %}
{% block content %}
<div class="row justify-content-center auth-panel">
  <div class="col-md-6 col-lg-5">
    <div class="text-center mb-4">
        <h3>Pregunta de seguridad</h3>
        <p><strong>{{ pregunta }}</strong></p>
        <form method="POST">
        <label>Respuesta:</label>
        <input type="text" name="respuesta" required class="form-control">
        <button class="btn btn-galsoft mt-3">Verificar</button>
        </form>
    </div>
  </div>
</div>        
{% endblock %}